<section id="download">
  <div class="container">
    <h2 class="text-uppercase">Info about company</h2>
    <div class="row">
      <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">

        <p>
        <div class="overview">
          <table cellspacing="0" border="0">
            <!--
                <tr>
                  <th valign="top">Mission</th>
                  <td>To produce the highest quality true random numbers and make them available to the world in useful forms.</td>
                </tr>

                <tr><td>&nbsp;</td></tr>
            -->
            <tbody><tr>
              <th valign="top">Registered Office</th>
              <td>RANDOM.ORG</td>
            </tr>
            <tr>
              <td></td>
              <td>Randomness and Integrity Services Ltd.</td>
            </tr>
            <tr>
              <td></td>
              <td>2 Waterloo Road, Unit 20</td>
            </tr>
            <tr>
              <td></td>
              <td>Dublin 4</td>
            </tr>
            <tr>
              <td></td>
              <td>Ireland</td>
            </tr>

            <tr><td>&nbsp;</td></tr>

            <tr>
              <th valign="top">Contact</th>
              <td>Skype: random.org</td>
            </tr>

            <tr>
              <td></td>
              <td>Web: <a href="https://www.random.org/">www.random.org</a></td>
            </tr>

            <tr>
              <td></td>
              <td>Email: <a href="mailto:contact@random.org">contact@random.org</a></td>
            </tr>

            <tr><td>&nbsp;</td></tr>

            <tr>
              <th valign="top">Country: </th>
              <td valign="top">Ireland</td>
            </tr>

            <tr><td>&nbsp;</td></tr>

            <tr>
              <th valign="top">Company Reg. No.</th>
              <td>489434</td>
            </tr>

            <tr><td>&nbsp;</td></tr>

            <tr>
              <th valign="top">Tax/VAT Reg. No.</th>
              <td>IE 9769936F</td>
            </tr>

            <tr><td>&nbsp;</td></tr>

            <tr>
              <th valign="top">Directors</th>
              <td><a href="/mads/">Dr Mads Haahr</a>, CEO, <a href="http://www.ieee.org/">MIEEE</a>, <a href="http://www.acm.org/">MACM</a>, <a href="http://www.ics.ie/">MICS</a>;</td>
            </tr>
            <tr>
              <td></td>
              <td>Dr Svend Haahr; Danish Nationals</td>
            </tr>

            </tbody></table>
        </div>
        </p>
        <button class="btn btn-primary text-uppercase"><i class="fa fa-download"></i> Show on map</button>
      </div>
      <div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
        <img src="assets/contact-map.jpg" class="img-responsive" alt="feature img">
      </div>
    </div>
  </div>
</section>